<%= render "layouts/authenticated" %>
<div class="pageheader">
            
            <div class="pageicon"><span class="iconfa-laptop"></span></div>
            <div class="pagetitle">
                <h5>Aqui podra crear programas presupuestarios</h5>
                <h1>CREACION DE PROGRAMAS</h1>
            </div>
        </div><!--pageheader-->

<div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
<div class="span4 offset1">

<%= simple_form_for @problem, :html => { :class => "form-horizontal" }  do |f| %>
<fieldset>
 
	<%= f.input :name, label: 'Nombre del Programa' %>
	<%= f.input :organism, label: 'Dependencia', collection: ["Dependencia 1", "Dependencia 2", "Dependencia 3"] %>
	<%= f.input :responsable_unit, label: 'Nombre del Responsable del Programa' %>
	<%= f.input :city, label: 'Ciudad', collection: [ "Chihuahua", "DF", "Toluca", "Juarez"] %>
	<%= f.input :department, label: 'Departamento', :collection => [ "Direccion Tecnica", "Proyectos Especiales", "Sub Direccion de Estudios"] %>


	<%= f.input :email, label: 'Correo Electronico', placeholder: 'usuario@correo.com' %>
</div>
		<div class="span4 offset1">
	<%= f.input :init_date, label: 'Fecha problable de Inicio'%>
	<%= f.input :end_date, label: 'Fecha problable de Terminacion' %>
</div>
  <%= f.button :submit, 'Crear Programa', class: 'btn btn-primary pull-right' %>
<% end %>
