<%= render "layouts/authenticated" %>
<div class="pageheader">
            
            <div class="pageicon"><span class="iconfa-laptop"></span></div>
            <div class="pagetitle">
                <h5>Aqui podra crear tickets te ayuda para comunicarnos con usted</h5>
                <h1>SOPORTE TECNICO</h1>
            </div>
        </div><!--pageheader-->

<div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
<%= simple_form_for @ticket, :html => { :class => "form-horizontal" }  do |f| %>

<fieldset>
 <%= f.submit "Crear", :class =>"btn btn-primary btn-rounded pull-right" %>
	<%= f.input :title, label: 'Titulo' %>
	<%= f.input :description, label: 'Descripcion' %>
</fieldset>

</div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
 	
<% end %>
