<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#login').submit(function(){
            var u = jQuery('#username').val();
            var p = jQuery('#password').val();
            if(u == '' && p == '') {
                jQuery('.login-alert').fadeIn();
                return false;
            }
        });
    });
</script>

<body class="loginpage">

<div class="loginpanel">
    <div class="loginpanelinner">
        <div class="logo animate0 bounceIn"><h1>Plataforma PBR MML</h1></div>


<%= form_for(resource, :html => { :id => "login" }, :url => session_path(resource_name)) do |f| %>


  <br />
   <div class="inputwrapper animate1 bounceIn"><%= f.text_field :email, :autofocus => true, :class => 'span5', :placeholder => 'Usuario' %></div>

  <div class="inputwrapper animate2 bounceIn"><%= f.password_field :password, :class => 'span5', :placeholder => 'Password' %></div>

  
  <div class="inputwrapper animate3 bounceIn"><button type="submit" class="btn btn-danger">
    Entrar 
</button></div>
  <div class="inputwrapper animate4 bounceIn"><% if devise_mapping.rememberable? -%><%= f.label :remember_me, "Recuerdame" %>
    <%= f.check_box :remember_me %> </div>
  <% end -%>

<% end %>
<%= render "devise/shared/links" %>
</div>
</div>



<div class="loginfooter">
    <p>&copy; 2013. Consultoria Dimension.</p>
</div>