 <a class="brand" href="#">PLATAFORMA PBR MML</a>

<ul class="nav">


<li><%= link_to('<i class="icon-file icon-white"></i> Documentos'.html_safe, ) %></li>
	
<li><%= link_to('<i class="icon-list-alt icon-white"></i> Programas'.html_safe, problems_path ) %></li>


<li><%= link_to('<i class="icon-signal icon-white"></i> Indicadores'.html_safe, tickets_path) %></li>


<li><%= link_to('<i class="icon-wrench icon-white"></i> Soporte'.html_safe, tickets_path) %></li>


</ul>


<ul class="nav pull-right">
<li class="dropdown pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Usuario
<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><%= link_to('<i class="icon-cog"></i> Mi Cuenta'.html_safe, edit_user_registration_path) %></li>

<li class="divider"></li>
<li> <%= link_to('<i class="icon-off"></i> Salir'.html_safe, destroy_user_session_path, :method=>'delete') %>
</ul>
</li>



</ul>
