<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PBR Dimension" %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../assets/ico/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag :defaults, "nested_form" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
  </head>
<script type="text/javascript">
jQuery(document).ready(function(){

    
    jQuery('.taglist .close').click(function(){
        jQuery(this).parent().remove();
        return false;
    });
    
});
</script>
  <body class"">
  <%= render 'layouts/messages' %>
  
              <%= yield %>            
        
          
          
  </body>
</html>